.hero{
    display: flex;
    margin-top: 10rem;
}

.text{
    margin: auto;
}
.heading{
    font-size: 5rem;
    display: flex;
    justify-content:center ;
    margin:0;
    -webkit-animation: heading 1s ease-out both;
	        animation: heading 1s ease-out both;
}

.heading2{
    display: flex;
    justify-content:center ;
    color: gray;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.temp{
    background: linear-gradient(to bottom right, #61fe04, #37ec71);
    border: 0;
    border-radius: 12px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }

  .temp:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(0, 212, 255, 0.5), .125rem .125rem 1rem rgba(55, 236, 113, 0.5);
  }
  
  .temp:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(0, 212, 255, 0.5), .125rem .125rem 1rem rgba(55, 236, 113, 0.5);
  }

  .scale {
	-webkit-animation: scale-down-center 1s ease-out both;
	        animation: scale-down-center 1s ease-out both;
}

 /* ---------------------------------------------- */

 @-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  /* --------- */
  @-webkit-keyframes heading {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }
  @keyframes heading {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }
  